/* .imgCartItem{
    width: 100px;
}

.CartItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    color: black;
    padding: 1rem;
    padding-bottom: rem;
    border-radius: .75rem;
} */